{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Click0nline Store</title>
	<meta charset="utf-8" />
	<meta name="viewpoint" content="width=device-width,initial-scal=1.0">
	<meta http-equip="X-UA-compatible" content="ie=edge">
	<link rel="stylesheet" href="style.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="store.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

	<section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="topnav">
				<a style="color:black;" class="active" href="./index.html"><img src="./static/images/logo-icon2.png" class="footer-logo"> </a>
			</div>
			<div class="collapse navbar-collapse" id="navbarNav">

				<ul class="navbar-nav ml-auto">

					<li class="nav-item">
						<a style="color:black;" class="nav-link" href="./Product.html">Products</a>
					</li>
					<li class="nav-item">
						<a style="color:black;" class="nav-link" href="cart.html">Cart</a>

					</li>


					<li class="nav-item">
						<a style="color:black;" class="nav-link" href="./about.html">About Us</a>
					</li>

					<!-- <li class="nav-item">
						<a style="color:black;" class="nav-link" href="#services">Our Services</a>
					</li>

					<li class="nav-item">
						<a style="color:black;" class="nav-link" href="#team" tabindex="-1" aria-disabled="true">Our
							Team</a>
					</li> -->
					<li class="nav-item">
						<a style="color:black;" class="nav-link" href="./contact.html">Contact</a>
					</li>
					<li class="nav-item">
						<a style="color:black;" class="nav-link" href="./login.html">Login</a>
					</li>


				</ul>
			</div>
		</nav>




		<!------About Section------->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2>About Us</h2>
						<div class="about-content">
							Welcome to Click0nline where shopping in your comfort for electronics, fashion and smart 
                            hardwear is our delight. We aim to deliver on time, about 24 hours after you place your order
                            in the Gauteng area.<br><br>

                            Founded in 2023 by Percy Sibandze, Click0nline's aim is to service the ever increasing online shopping
                            community. We hope our site, service and our products will help ease your life as you use them.<br><br> 

                            Please don't hesitate to contact us should you have any questions.<br><br>

						</div>
						

					</div>
					
					<div class="col-md-6 skills-bar"><br><br>
						<p>Delivery Rate</p>
						<div class="progress">
							<div class="progress-bar" style="width:92%; background-color:#FCB941">92%</div>
						</div>

						<p>Customer Growth</p>
						<div class="progress">
							<div class="progress-bar" style="width:67%;  background-color:#FCB941">67%</div>
						</div>

						<p>Happy Employee</p>
						<div class="progress">
							<div class="progress-bar" style="width:85%;  background-color:#FCB941">85%</div>
						</div>
						
					</div>
				</div>

			</div>

			<!------Services Section------->
			<section id="services">

				<div class="container">
					<h1>What Click0nline Offers</h1>
					<div class="row services">
						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-phone"></i>
							</div>
							<h3> 24/7 Support</h3>
							<p>on order & service related queries</p>
						</div>

						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-shopping-cart"></i>
							</div>
							<h3> Return within 30 days</h3>
							<p>of receiving your order</p>
						</div>

						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-truck"></i>
							</div>
							<h3>Get free delivery</h3>
							<p>on orders above R499</p>
						</div>
					</div>
				</div>

			</section>



			<!-----Team------->
			<section id="team">

				<div class="container">
					<h1>Our Team</h1>
					<div class="row">
						<div class="col-md-3 profile-pic text-center">
							<div class="img-box">
								<img src="../images/products/Percy2.jpg"
								  	class="img-responsive">
								<ul>
									<a href="https://www.facebook.com/">
										<li><i class="fa fa-facebook"></i></li>
									</a>
									<a href="https://twitter.com/login">
										<li><i class="fa fa-twitter"></i></li>
									</a>
									<a href="https://www.linkedin.com/home">
										<li><i class="fa fa-linkedin"></i></li>
									</a>
								</ul>
							</div>
							<h2>Percy Sibandze</h2>
							<h3>Founder/CEO</h3>

						</div>

						<div class="col-md-3 profile-pic text-center">
							<div class="img-box">
								<img src=""
									class="img-responsive">
								<ul>
									<a href="https://www.facebook.com/">
										<li><i class="fa fa-facebook"></i></li>
									</a>
									<a href="https://twitter.com/login">
										<li><i class="fa fa-twitter"></i></li>
									</a>
									<a href="https://www.linkedin.com/home">
										<li><i class="fa fa-linkedin"></i></li>
									</a>
								</ul>
							</div>
							<h2>Musawenkosi Sibandze </h2>
							<h3>Software Engineer</h3>

						</div>

						<div class="col-md-3 profile-pic text-center">
							<div class="img-box">
								<img src=""
									class="img-responsive">
								<ul>
									<a href="https://www.facebook.com/">
										<li><i class="fa fa-facebook"></i></li>
									</a>
									<a href="https://twitter.com/login">
										<li><i class="fa fa-twitter"></i></li>
									</a>
									<a href="https://www.linkedin.com/home">
										<li><i class="fa fa-linkedin"></i></li>
									</a>
								</ul>
							</div>
							<h2>Namhla Sibandze</h2>
							<h3>Sales Manager</h3>

						</div>

						<div class="col-md-3 profile-pic text-center">
							<div class="img-box">
								<img src="../images/products/Portia1.jpg"
									class="img-responsive">
								<ul>
									<a href="https://www.facebook.com/">
										<li><i class="fa fa-facebook"></i></li>
									</a>
									<a href="https://twitter.com/login">
										<li><i class="fa fa-twitter"></i></li>
									</a>
									<a href="https://www.linkedin.com/home">
										<li><i class="fa fa-linkedin"></i></li>
									</a>
								</ul>
							</div>
							<h2>Portia Sibandze</h2>
							<h3>Project Manager</h3>

						</div>
					</div>
				</div>

			</section>


			<section id="footer" style="margin-top: 80px;">
				<footer class="container">
					<div class="footer-middle">
						<div class="container">
							<div class="row">
								<div class="col-sm-s6 col-lg-3">
									<div class="widget widget-about">
										<img src="../images/products/logo-icon2.png" class="footer-logo"
											alt="Footer Logo" width="200" height="75">
										<p> Click0nline Seamless Shopping</p>

										<div class="widget-call">
											<i class="icon-phone"></i>
											Got Question? Call us 24/7
											<a href="tel:#" style="color: #FCB941;">+27814014996</a>
										</div>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="widget">
										<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

										<ul class="widget-list">
											<li><a href="about.html" style="color: #FCB941;">About Company</a></li>
											<li><a href="#" style="color: #FCB941;">Our Services</a></li>
											<li><a href="#" style="color: #FCB941;">How to shop</a></li>
											<li><a href="faq.html" style="color: #FCB941;">FAQ</a></li>
											<li><a href="contact.html" style="color: #FCB941;">Contact us</a></li>
										</ul>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="widget">
										<h4>Customer Service</h4>

										<ul class="widget-list">
											<li><a href="#" style="color: #FCB941;">Payment Methods</a></li>
											<li><a href="#" style="color: #FCB941;">Money-back guarantee!</a></li>
											<li><a href="#" style="color: #FCB941;">Returns</a></li>
											<li><a href="#" style="color: #FCB941;">Shipping</a></li>
											<li><a href="#" style="color: #FCB941;">Terms and conditions</a></li>
											<li><a href="#" style="color: #FCB941;">Privacy Policy</a></li>
										</ul>
									</div>
								</div>

								<div class="col-sm-6 col-lg-3">
									<div class="widget">
										<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

										<ul class="widget-list">
											<li><a href="#" style="color: #FCB941;">Sign In</a></li>
											<li><a href="./cart.html" style="color: #FCB941;">View Cart</a></li>
											<li><a href="#" style="color: #FCB941;">My Wishlist</a></li>
											<li><a href="#" style="color: #FCB941;">Track My Order</a></li>
											<li><a href="#" style="color: #FCB941;">Help</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="footer-bottom">
						<div class="container">
							<p style="text-align:center;">Copyright © 2023. All Rights Reserved.</p>
							<figure style="float: right;">
								<img src="../images/products/payments.png" alt="Payment methods" width="272"
									height="20">
							</figure> 
						</div>
					</div>
				</footer>
			</section>

</body>

</html>